<h1 class="text-2xl font-bold leading-tight my-4 text-indigo-500">Nudge project</h1>
<h3 class="text-xl">Welcome, user <%= @user.id %></h3>
<a href="<%= observations_path %>" class="text-orange-500 underline">View your statistics</a>

<div class="my-10">
  <a href="<%= observation_sessions_start_path %>"><button class="rounded bg-orange-500 hover:bg-orange-600 text-gray-100 font-bold py-2 px-4">Start a new session</button></a>
</div>
