@tailwind base;
@tailwind components;
@tailwind utilities;

/*

@layer components {
  .btn-primary {
    @apply py-2 px-4 bg-blue-200;
  }
}

*/

@layer base {
  @font-face {
    font-family: 'Noto Color Emoji';
    src: font-url('NotoColorEmoji.ttf') format('truetype');
  }
}


span.left-score {
  color: red;
}
span.left-score:after {
  content: "\2190";
}

span.right-score {
  color: blue;
}
span.right-score:before {
  content: "\2192";
}
